  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a href="index.html">Covid 19 </a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar order-last order-mr-sm-2">
        <ul>
          <li><a class="nav-link scrollto active" routerLink="/home">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <!-- <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li> -->
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <!-- <li><a class="nav-link scrollto"*ngIf="_session.isUserLoggedIn()">ggg</a></li> -->
          <li><a class="nav-link scrollto"*ngIf="_session.isAdminCase()" routerLink="/admin">Admin</a></li>
          <li><a class="nav-link scrollto" *ngIf="!_session.isUserLoggedIn()"  routerLink="/login">Login</a></li>
          <li><a class="nav-link scrollto" *ngIf="_session.isUserLoggedIn()" routerLink="/logout" >Logout</a></li>
    
        </ul>
       
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

<router-outlet></router-outlet>

